body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(57, 210, 143, 0.538);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #1f2933; /* dark slate */
  color: white;
}

.logo {
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #a859a9; 
  cursor: pointer;
}
.logo span {
  color: #9c75d7;
}


.nav-links {
  display: flex;
  gap: 30px; 
}

.nav-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8; 
}

.app-background {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #6cccbc 50%,
    #7fd5b6c0 50%
  );
  padding: 30px;
}
.job-card {
  background: white;
  padding: 20px;
  margin: 20px 0; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.job-card h3 {
  margin-bottom: 6px;
}

.job-card p {
  margin-bottom: 12px;
  color: #555;
}

.view-job {
  text-decoration: none;
  font-weight: 600;
  color: #2563eb;
}
.apply-btn {
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #16a34a;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: "Courier New", monospace;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.apply-btn:hover {
  background-color: #15803d;
  transform: scale(1.05);
}
.job-detail {
  background: white;
  padding: 25px;
  border-radius: 12px;
  max-width: 700px;
}
.applied-status {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #16a34a; 
  font-family: "Courier New", monospace;
}

.profile-updated {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #16a34a;
  font-family: "Courier New", monospace;
}
